h1 {
  color: var(--primary-color);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-md);
  position: relative;
}

header>* {
  margin: 0;
}

main {
  justify-items: center;
}

header h1,
header p {
  text-align: center;
}

.header-buttons-container {
  display: flex;
  gap: var(--spacing-md);
}

@media (min-width: 600px) {
  .header-buttons-container {
    position: absolute;
    top: var(--spacing-md);
    right: var(--spacing-md);
  }
}

.header-buttons-container>* {
  border-radius: 0;
  border: .2rem solid var(--text-color);
  background: transparent;
  padding: var(--spacing-sm) var(--spacing-md);
  text-decoration: none;
  color: var(--text-color);
}