/* Reseteo de estilos */
:root {
  /* Colores */
  --primary-color: #FF9C31;
  --secondary-color: #2f2e2d;
  --text-color: #fff;
  --background-color: #1A1713;
  /* Spacing */
  --spacing-unit: 1rem;
  --spacing-sm: calc(var(--spacing-unit) * .5);
  --spacing-md: var(--spacing-unit);
  --spacing-lg: calc(var(--spacing-unit) * 2);
  /* Tipografía */
  font-family: "Cascadia Code", sans-serif;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  cursor: default;
}

button,
input,
textarea,
select {
  font-family: inherit;
  cursor: pointer;
}

.ranking-container {
  width: 80%;
  max-width: 31rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}