/* Reseteo de estilos */
:root {
  /* Colores */
  --primary-color: #FF9C31;
  --secondary-color: #1A1713;
  --text-color: #fff;
  --background-color: #1A1713;
  /* Spacing */
  --spacing-unit: 1rem;
  --spacing-sm: calc(var(--spacing-unit) * .5);
  --spacing-md: var(--spacing-unit);
  --spacing-lg: calc(var(--spacing-unit) * 2);
  /* Tipografía */
  font-family: "Cascadia Code", sans-serif;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  cursor: default;
}

button,
input,
textarea,
select {
  font-family: inherit;
  cursor: pointer;
}

/* header */
h1 {
  color: var(--primary-color);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-md);
  position: relative;
}

header>* {
  margin: 0;
}

main {
  justify-items: center;
}

header h1,
header p {
  text-align: center;
}

.header-buttons-container {
  display: flex;
  gap: var(--spacing-md);
}

@media (min-width: 600px) {
  .header-buttons-container {
    position: absolute;
    top: var(--spacing-md);
    right: var(--spacing-md);
  }
}

.header-buttons-container>* {
  border-radius: 0;
  border: .2rem solid var(--text-color);
  background: transparent;
  padding: var(--spacing-sm) var(--spacing-md);
  text-decoration: none;
  color: var(--text-color);
}


.ranking-container {
  width: 80%;
  max-width: 31rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}