/* Reseteo de estilos */
:root {
  font-family: "Cascadia Code", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1A1713;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  cursor: default;
}

button,
input,
textarea,
select {
  font-family: inherit;
  cursor: pointer;
}

/* header */
h1 {
  color: #FF9C31;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
}

header>* {
  margin: 0;
}

main {
  justify-items: center;
}

header h1,
header p {
  text-align: center;
}

.header-buttons-container {
  display: flex;
  gap: 1rem;
}

@media (min-width: 600px) {
  .header-buttons-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.header-buttons-container button {
  border-radius: 0;
  border: .2rem solid #fff;
  background: transparent;
  padding: .5rem 1rem;
}


.ranking-container {
  width: 80%;
  max-width: 31rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}